In [1]:
import pandas as pd
import matplotlib.pyplot as plt

#!pip install pyxlsb

In [2]:
#xlsb_file = pd.ExcelFile('OneStopElectronics_raw_data.xlsb', engine='pyxlsb')
#orders_raw_df = xlsb_file.parse('orders_data_raw')
#country_lookup_raw_df = xlsb_file.parse('country_lookup_raw')
df = pd.read_csv('data/OneStopElectronics_raw_data.csv')
df2 = pd.read_csv('data/OneStopElectronics_country_data.csv')

In [3]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 193 entries, 0 to 192
Data columns (total 2 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   COUNTRY_CODE  192 non-null    object
 1   REGION        167 non-null    object
dtypes: object(2)
memory usage: 3.1+ KB

In [4]:
df2[df2['COUNTRY_CODE'].isna()]

    COUNTRY_CODE REGION
129          NaN   EMEA

In [5]:
df2 = df2[~(df2['COUNTRY_CODE'].isna() | (df2['REGION'] == 'x'))]
country_to_region = {
        'AG': 'LATAM', 'AI': 'LATAM','AW': 'LATAM', 'BB': 'LATAM',
        'BJ': 'EMEA', 'BM': 'North America', 'BQ': 'LATAM', 'BS': 'LATAM',
        'BZ': 'LATAM', 'CA': 'North America', 'CW': 'LATAM', 'GD': 'LATAM',
        'GL': 'North America', 'GP': 'LATAM', 'JM': 'LATAM', 'KN': 'LATAM',
        'KY': 'LATAM', 'LC': 'LATAM', 'MQ': 'LATAM', 'PR': 'LATAM',
        'SX': 'LATAM', 'TC': 'LATAM', 'TT': 'LATAM', 'VC': 'LATAM',
        'VG': 'LATAM', 'VI': 'LATAM',
    }
mask = df2['REGION'].isna()
for country, region in country_to_region.items():
    df2.loc[mask & (df2['COUNTRY_CODE'] == country), 'REGION'] = region

In [6]:
df2[df2['REGION'].isna()]

Empty DataFrame
Columns: [COUNTRY_CODE, REGION]
Index: []

In [7]:
df2['REGION'].value_counts()

REGION
EMEA             99
LATAM            44
APAC             44
North America     4
Name: count, dtype: int64

In [8]:
df2[df2['REGION'] == 'North America']
#df2[df2['COUNTRY_CODE'] == 'MX']

    COUNTRY_CODE         REGION
22            BM  North America
32            CA  North America
67            GL  North America
180           US  North America

In [9]:
for col in ['MARKETING_CHANNEL', 'ACCOUNT_CREATION_METHOD', 'COUNTRY_CODE', 'CURRENCY']:
        df[col] = df[col].fillna('Unknown')

In [10]:
df['PURCHASE_TS'] = pd.to_datetime(df['PURCHASE_TS'], errors='coerce')
df['SHIP_TS'] = pd.to_datetime(df['SHIP_TS'], errors='coerce')
df['DELIVERY_TS'] = pd.to_datetime(df['DELIVERY_TS'], errors='coerce')
df['REFUND_TS'] = pd.to_datetime(df['REFUND_TS'], errors='coerce')

/var/folders/tk/mz69hv3d2832sf7c8tcthp_00000gp/T/ipykernel_76622/3829416978.py:1: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  df['PURCHASE_TS'] = pd.to_datetime(df['PURCHASE_TS'], errors='coerce')
/var/folders/tk/mz69hv3d2832sf7c8tcthp_00000gp/T/ipykernel_76622/3829416978.py:2: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  df['SHIP_TS'] = pd.to_datetime(df['SHIP_TS'], errors='coerce')
/var/folders/tk/mz69hv3d2832sf7c8tcthp_00000gp/T/ipykernel_76622/3829416978.py:3: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  df['DELIVERY_TS'] = pd.to_datetime(df['DELIVERY_TS'], errors='coerce')
/var/folders/tk/mz69hv3d2832sf7c8tcthp_00000gp/T/ipykernel_76622/3829416978.py:4: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  df['REFUND_TS'] = pd.to_datetime(df['REFUND_TS'], errors='coerce')

In [11]:
df.isna().sum()

USER_ID                         0
ORDER_ID                        0
PURCHASE_TS                    16
SHIP_TS                         0
DELIVERY_TS                     0
REFUND_TS                  102748
PRODUCT_NAME                    0
PRODUCT_ID                      0
USD_PRICE                      33
LOCAL_PRICE                     0
CURRENCY                        0
PURCHASE_PLATFORM               0
MARKETING_CHANNEL               0
ACCOUNT_CREATION_METHOD         0
COUNTRY_CODE                    0
LOYALTY_PROGRAM                 0
CREATED_ON                      0
dtype: int64

In [12]:
df.head()

,USER_ID,ORDER_ID,PURCHASE_TS,SHIP_TS,DELIVERY_TS,REFUND_TS,PRODUCT_NAME,PRODUCT_ID,USD_PRICE,LOCAL_PRICE,CURRENCY,PURCHASE_PLATFORM,MARKETING_CHANNEL,ACCOUNT_CREATION_METHOD,COUNTRY_CODE,LOYALTY_PROGRAM,CREATED_ON
0,2.46E+04,5f87a27686c1,2021-04-20,2021-04-23,2021-04-26,NaT,27in 4K gaming monitor,e7e6,434.05,48000.00,JPY,website,email,mobile,JP,1,2/25/21
1,6.25E+04,5c404f671902,2022-05-27,2022-05-29,2022-06-06,NaT,Samsung Charging Cable Pack,ab0f,24.00,24.00,USD,website,direct,desktop,US,0,2/20/22
2,7.42E+04,424e94e485f3,2022-12-14,2022-12-15,2022-12-19,NaT,Apple Airpods Headphones,8d0d,103.13,103.50,EUR,website,direct,desktop,IT,0,7/13/19
3,122725,6ebc18196ce4,2019-01-31,2019-02-02,2019-02-07,NaT,Samsung Charging Cable Pack,8315,24.28,24.28,USD,mobile app,email,mobile,US,0,4/26/16
4,134439,1cea3298ca35,2021-03-14,2021-03-17,2021-03-23,NaT,Apple Airpods Headphones,e682,168.00,168.00,USD,website,direct,desktop,US,1,1/20/21

In [13]:
conversion_rates = {
        'KES': 0.0077, 'BOB': 0.14, 'MMK': 0.0004, 'LKR': 0.0033,
        'GHS': 0.097, 'MAD': 0.11, 'RSD': 0.0096, 'PYG': 0.00013,
        'JOD': 1.41, 'DZD': 0.0076
    }
mask = df['USD_PRICE'].isna()
for currency, rate in conversion_rates.items():
    df.loc[mask & (df['CURRENCY'] == currency), 'USD_PRICE'] = df['LOCAL_PRICE'] * rate

In [14]:
#feature engineering new cols based on date
df['MONTH_OF_SALE'] = df['PURCHASE_TS'].dt.month

In [15]:
df['YEAR_OF_SALE'] = df['PURCHASE_TS'].dt.year

In [16]:

df['TIME_TO_REFUND'] = df['REFUND_TS'] - df['DELIVERY_TS']
df['TIME_TO_SHIP'] = df['SHIP_TS'] - df['PURCHASE_TS']
df['TIME_TO_DELIVER'] = df['DELIVERY_TS'] - df['SHIP_TS']

In [17]:
df.head()

,USER_ID,ORDER_ID,PURCHASE_TS,SHIP_TS,DELIVERY_TS,REFUND_TS,PRODUCT_NAME,PRODUCT_ID,USD_PRICE,LOCAL_PRICE,...,MARKETING_CHANNEL,ACCOUNT_CREATION_METHOD,COUNTRY_CODE,LOYALTY_PROGRAM,CREATED_ON,MONTH_OF_SALE,YEAR_OF_SALE,TIME_TO_REFUND,TIME_TO_SHIP,TIME_TO_DELIVER
0,2.46E+04,5f87a27686c1,2021-04-20,2021-04-23,2021-04-26,NaT,27in 4K gaming monitor,e7e6,434.05,48000.00,...,email,mobile,JP,1,2/25/21,4.0,2021.0,NaT,3 days,3 days
1,6.25E+04,5c404f671902,2022-05-27,2022-05-29,2022-06-06,NaT,Samsung Charging Cable Pack,ab0f,24.00,24.00,...,direct,desktop,US,0,2/20/22,5.0,2022.0,NaT,2 days,8 days
2,7.42E+04,424e94e485f3,2022-12-14,2022-12-15,2022-12-19,NaT,Apple Airpods Headphones,8d0d,103.13,103.50,...,direct,desktop,IT,0,7/13/19,12.0,2022.0,NaT,1 days,4 days
3,122725,6ebc18196ce4,2019-01-31,2019-02-02,2019-02-07,NaT,Samsung Charging Cable Pack,8315,24.28,24.28,...,email,mobile,US,0,4/26/16,1.0,2019.0,NaT,2 days,5 days
4,134439,1cea3298ca35,2021-03-14,2021-03-17,2021-03-23,NaT,Apple Airpods Headphones,e682,168.00,168.00,...,direct,desktop,US,1,1/20/21,3.0,2021.0,NaT,3 days,6 days

In [18]:
df['PURCHASE_TS'] = pd.to_datetime(df['PURCHASE_TS'], format='%Y-%m-%d', errors='coerce')
df['SHIP_TS'] = pd.to_datetime(df['SHIP_TS'], format='%Y-%m-%d', errors='coerce')
df['DELIVERY_TS'] = pd.to_datetime(df['DELIVERY_TS'], format='%Y-%m-%d', errors='coerce')
df['REFUND_TS'] = pd.to_datetime(df['REFUND_TS'], format='%Y-%m-%d', errors='coerce')

In [19]:
df.isna().sum()

USER_ID                         0
ORDER_ID                        0
PURCHASE_TS                    16
SHIP_TS                         0
DELIVERY_TS                     0
REFUND_TS                  102748
PRODUCT_NAME                    0
PRODUCT_ID                      0
USD_PRICE                       0
LOCAL_PRICE                     0
CURRENCY                        0
PURCHASE_PLATFORM               0
MARKETING_CHANNEL               0
ACCOUNT_CREATION_METHOD         0
COUNTRY_CODE                    0
LOYALTY_PROGRAM                 0
CREATED_ON                      0
MONTH_OF_SALE                  16
YEAR_OF_SALE                   16
TIME_TO_REFUND             102748
TIME_TO_SHIP                   16
TIME_TO_DELIVER                 0
dtype: int64

In [20]:
df.head()

,USER_ID,ORDER_ID,PURCHASE_TS,SHIP_TS,DELIVERY_TS,REFUND_TS,PRODUCT_NAME,PRODUCT_ID,USD_PRICE,LOCAL_PRICE,...,MARKETING_CHANNEL,ACCOUNT_CREATION_METHOD,COUNTRY_CODE,LOYALTY_PROGRAM,CREATED_ON,MONTH_OF_SALE,YEAR_OF_SALE,TIME_TO_REFUND,TIME_TO_SHIP,TIME_TO_DELIVER
0,2.46E+04,5f87a27686c1,2021-04-20,2021-04-23,2021-04-26,NaT,27in 4K gaming monitor,e7e6,434.05,48000.00,...,email,mobile,JP,1,2/25/21,4.0,2021.0,NaT,3 days,3 days
1,6.25E+04,5c404f671902,2022-05-27,2022-05-29,2022-06-06,NaT,Samsung Charging Cable Pack,ab0f,24.00,24.00,...,direct,desktop,US,0,2/20/22,5.0,2022.0,NaT,2 days,8 days
2,7.42E+04,424e94e485f3,2022-12-14,2022-12-15,2022-12-19,NaT,Apple Airpods Headphones,8d0d,103.13,103.50,...,direct,desktop,IT,0,7/13/19,12.0,2022.0,NaT,1 days,4 days
3,122725,6ebc18196ce4,2019-01-31,2019-02-02,2019-02-07,NaT,Samsung Charging Cable Pack,8315,24.28,24.28,...,email,mobile,US,0,4/26/16,1.0,2019.0,NaT,2 days,5 days
4,134439,1cea3298ca35,2021-03-14,2021-03-17,2021-03-23,NaT,Apple Airpods Headphones,e682,168.00,168.00,...,direct,desktop,US,1,1/20/21,3.0,2021.0,NaT,3 days,6 days

In [21]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 108127 entries, 0 to 108126
Data columns (total 22 columns):
 #   Column                   Non-Null Count   Dtype
---  ------                   --------------   -----
 0   USER_ID                  108127 non-null  object
 1   ORDER_ID                 108127 non-null  object
 2   PURCHASE_TS              108111 non-null  datetime64[ns]
 3   SHIP_TS                  108127 non-null  datetime64[ns]
 4   DELIVERY_TS              108127 non-null  datetime64[ns]
 5   REFUND_TS                5379 non-null    datetime64[ns]
 6   PRODUCT_NAME             108127 non-null  object
 7   PRODUCT_ID               108127 non-null  object
 8   USD_PRICE                108127 non-null  float64
 9   LOCAL_PRICE              108127 non-null  float64
 10  CURRENCY                 108127 non-null  object
 11  PURCHASE_PLATFORM        108127 non-null  object
 12  MARKETING_CHANNEL        108127 non-null  object
 13  ACCOUNT_CREATION_METHOD  108127 non-null  object
 14  COUNTRY_CODE             108127 non-null  object
 15  LOYALTY_PROGRAM          108127 non-null  int64
 16  CREATED_ON               108127 non-null  object
 17  MONTH_OF_SALE            108111 non-null  float64
 18  YEAR_OF_SALE             108111 non-null  float64
 19  TIME_TO_REFUND           5379 non-null    timedelta64[ns]
 20  TIME_TO_SHIP             108111 non-null  timedelta64[ns]
 21  TIME_TO_DELIVER          108127 non-null  timedelta64[ns]
dtypes: datetime64[ns](4), float64(4), int64(1), object(10), timedelta64[ns](3)
memory usage: 18.1+ MB

In [22]:
merged_df = df.merge(df2, on='COUNTRY_CODE', how='left')
merged_df.isna().sum()

USER_ID                         0
ORDER_ID                        0
PURCHASE_TS                    16
SHIP_TS                         0
DELIVERY_TS                     0
REFUND_TS                  102748
PRODUCT_NAME                    0
PRODUCT_ID                      0
USD_PRICE                       0
LOCAL_PRICE                     0
CURRENCY                        0
PURCHASE_PLATFORM               0
MARKETING_CHANNEL               0
ACCOUNT_CREATION_METHOD         0
COUNTRY_CODE                    0
LOYALTY_PROGRAM                 0
CREATED_ON                      0
MONTH_OF_SALE                  16
YEAR_OF_SALE                   16
TIME_TO_REFUND             102748
TIME_TO_SHIP                   16
TIME_TO_DELIVER                 0
REGION                        172
dtype: int64

In [52]:
merged_df[merged_df['REGION'].isna()]

,USER_ID,ORDER_ID,PURCHASE_TS,SHIP_TS,DELIVERY_TS,REFUND_TS,PRODUCT_NAME,PRODUCT_ID,USD_PRICE,LOCAL_PRICE,...,ACCOUNT_CREATION_METHOD,COUNTRY_CODE,LOYALTY_PROGRAM,CREATED_ON,MONTH_OF_SALE,YEAR_OF_SALE,TIME_TO_REFUND,TIME_TO_SHIP,TIME_TO_DELIVER,REGION
2031,77004762,30fb3f70a232032,2021-08-13,2021-08-15,2021-08-21,NaT,Samsung Charging Cable Pack,4c58,13.98,13.98,...,unknown,Unknown,0,8/3/10,8.0,2021.0,NaT,2 days,6 days,NaN
2032,77004762,30fb3f70a232033,2021-08-13,2021-08-15,2021-08-21,NaT,Samsung Charging Cable Pack,4c58,13.98,13.98,...,unknown,Unknown,0,8/3/10,8.0,2021.0,NaT,2 days,6 days,NaN
2056,78009722,f411d77d3642057,2021-02-11,2021-02-13,2021-02-17,NaT,Samsung Charging Cable Pack,8315,23.52,23.52,...,desktop,Unknown,0,9/28/12,2.0,2021.0,NaT,2 days,4 days,NaN
2531,96008786,ccadc0327dd2532,2020-12-20,2020-12-23,2020-12-26,NaT,Samsung Charging Cable Pack,8315,23.56,23.56,...,unknown,Unknown,1,10/28/08,12.0,2020.0,NaT,3 days,3 days,NaN
2532,96008786,ccadc0327dd2533,2020-12-20,2020-12-23,2020-12-26,NaT,Samsung Charging Cable Pack,8315,23.56,23.56,...,unknown,Unknown,1,10/28/08,12.0,2020.0,NaT,3 days,3 days,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
104559,f7772b92,df7028fa51c104560,2019-07-28,2019-07-29,2019-08-04,NaT,Samsung Charging Cable Pack,8315,24.10,24.10,...,unknown,Unknown,1,12/1/10,7.0,2019.0,NaT,1 days,6 days,NaN
105012,f885b0d6,2ff67eb49c5105013,2020-02-24,2020-02-27,2020-02-29,NaT,Apple Airpods Headphones,8e5d,164.40,164.40,...,unknown,Unknown,1,2/5/10,2.0,2020.0,NaT,3 days,2 days,NaN
105132,f8d75334,62e29984804105133,2021-02-21,2021-02-24,2021-02-26,2023-02-11,Samsung Webcam,8d4f,49.98,49.98,...,unknown,Unknown,0,12/11/10,2.0,2021.0,715 days,3 days,2 days,NaN
105737,fa3e60e1,24e23a9c900105738,2021-11-16,2021-11-17,2021-11-25,NaT,Apple Airpods Headphones,e682,168.00,168.00,...,desktop,A1,1,11/5/21,11.0,2021.0,NaT,1 days,8 days,NaN
107197,fdc259f0,4fd6844c645107198,2021-01-21,2021-01-24,2021-01-31,NaT,Samsung Charging Cable Pack,8315,23.76,23.76,...,unknown,Unknown,1,12/5/11,1.0,2021.0,NaT,3 days,7 days,NaN

In [24]:
df[df['USER_ID'] == '92700270']

,USER_ID,ORDER_ID,PURCHASE_TS,SHIP_TS,DELIVERY_TS,REFUND_TS,PRODUCT_NAME,PRODUCT_ID,USD_PRICE,LOCAL_PRICE,...,MARKETING_CHANNEL,ACCOUNT_CREATION_METHOD,COUNTRY_CODE,LOYALTY_PROGRAM,CREATED_ON,MONTH_OF_SALE,YEAR_OF_SALE,TIME_TO_REFUND,TIME_TO_SHIP,TIME_TO_DELIVER
2459,92700270,8e5ab9831282460,2019-12-06,2019-12-09,2019-12-12,NaT,Samsung Charging Cable Pack,f5ca,0.0,0.0,...,affiliate,unknown,US,0,7/25/08,12.0,2019.0,NaT,3 days,3 days
2460,92700270,95d9550a3502461,2019-08-24,2019-08-26,2019-09-03,NaT,27in 4K gaming monitor,7f86,0.0,0.0,...,affiliate,unknown,US,0,7/2/08,8.0,2019.0,NaT,2 days,8 days

In [56]:
product_name_conversion = {
    '27in"" 4k gaming monitor': '27in 4K gaming monitor'
    }

for name, real_name in product_name_conversion.items():
    mask = df['PRODUCT_NAME'] == name
    df.loc[mask, 'PRODUCT_NAME'] = real_name

In [58]:
df['PRODUCT_NAME'].value_counts()

PRODUCT_NAME
Apple Airpods Headphones       48404
27in 4K gaming monitor         23408
Samsung Charging Cable Pack    21923
Samsung Webcam                  7197
Macbook Air Laptop              3964
ThinkPad Laptop                 2916
Apple iPhone                     288
bose soundsport headphones        27
Name: count, dtype: int64